#!/usr/bin/env bash

SELF="$(realpath "${BASH_SOURCE[0]}")"
if [[ -n ${REPO_ROOT:-$PROJECT_ROOT} ]]; then
  export CURRENT_CLAUDE_DIR="${REPO_ROOT:-$PROJECT_ROOT}/.claude"
else
  export CURRENT_CLAUDE_DIR="${SELF%\/*}/.claude"
fi
export REPO_NAME="claude-knowledge"
export REPO_ROOT="/home/me/Workspaces/asmrtfm/claude-knowledge"
export CLAUDE_SCOPE="repo"
export CLAUDE_LOCAL_CACHE="/home/me/Workspaces/asmrtfm/claude-knowledge/.claude/cache"
