#!/usr/bin/env bash

SELF="$(realpath "${BASH_SOURCE[0]}")"
if [[ -n ${REPO_ROOT:-$PROJECT_ROOT} ]]; then
  export CURRENT_CLAUDE_DIR="${REPO_ROOT:-$PROJECT_ROOT}/.claude"
else
  export CURRENT_CLAUDE_DIR="${SELF%\/*}/.claude"
fi
